.navbar {
    margin-bottom: 0;
}

.navbar .logo{
    padding-top: 0;
}

.book-list {
    list-style-type: none;
}

.price {
    color: green;
    font-weight: bold;
}

.author {
    margin-bottom: 5px;
}